# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

# You can also install packages from a git repository, e.g.:
# git+https://github.com/runpod/runpod-python.git
# To learn more, see https://pip.pypa.io/en/stable/reference/requirements-file-format/

runpod~=1.7.0
torch>=2.0.0
diffusers>=0.24.0
transformers>=4.35.0
accelerate>=0.25.0
safetensors>=0.4.0
sentencepiece==0.2.0
protobuf>=4.25.0
